@use '../default/variables' as variables

.container

    max-width: variables.$desktopScreen
    margin: 0 auto
    position: relative

    @include variables.down(md)
        padding: 0 16px
    
    @include variables.between(md, lg)
        padding: 0 36px
    
    @include variables.between(lg, xl)
        padding: 0 30px
    
    
.content
    margin-top: 48px
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    gap: 80px
    
    @media (max-width: variables.$mobileScreen)
        margin-top: 16px
        gap: 28px

    @media (min-width: calc(variables.$mobileScreen + 1px)) and (max-width: calc(variables.$desktopScreen - 1px))
        margin-top: 32px
        gap: 42px
