.about
    &__content
        flex: 1 1 0
        min-width: 300px

    &__text
        margin-bottom: 32px
        margin-top: 30px
        display: flex
        flex-direction: column
        gap: 16px

    &__description
        color: var(--gray) 
    